{{- $currentLang := .Site.Language.Lang -}}
{{- $title :=  .Get "title" -}}
{{- range .Page.Translations -}}
  {{- if eq .Page.Lang $currentLang -}}
    <span class="active">{{ .Page.Lang }}</span>
  {{- else -}}
    <a href="{{ .Page.Permalink }}">{{ $title | default .Page.Title }}</a>
  {{- end -}}
{{- end -}}

